
{% extends 'base.html' %}
{% load static %}

{% block body %}

    <!-- Begin About -->
    <section id="section2" class="parallax-bg3 parallax clearfix">
        <div class="content padded container">

        <!-- Text -->
        <div class="title grid-full">
            <h2>什麼是CULKER？</h2>
            <h3>WHAT　IS CULKER?</h3>
            <span class="border"></span>

            <p class="sub-heading" style="color: black; text-align: left;">
            在台灣這片土地上，資源一個個被BOT，大飯店、民宿與旅館雨後春筍的出現在我們生活周遭。這幾年觀光業快速發展，觀光利潤越來越高的同時，很多地方我們卻漸漸不去了，因為那裡與其他地方漸漸沒了分別。
            <br><br>
            於是…<br><br>
            我們以文化旅遊為基礎，發展出以居民為設計核心的觀光模式。我們相信文化是人們日常生活的實踐，在地人的廚藝、在地人才知道的小吃和景點、在地的日常生活、信仰，透過我們，觀光客將會與在地人接觸，使得觀光不只是到異地走馬看花、不只是到地標式建築前拍照打卡。<br>
            <br>我們怎麼做？<br><br>
            有別於傳統的一條龍商業模式，CULKER注重重新回饋給地方，將讓觀光利益直接進入在地社群，讓在地產業獲得合理的利益分配，進一步為地方提供再活化能量。<br>
            透過CULKER平台引介在地朋友，我們期望翻轉觀光，讓觀光客以最貼近在地的視角進入地方，一起感受一個地方的日常文化。旅遊可以不只是由景點串聯而成，而是認識一個新朋友、親身經驗一個在地人的生命故事。<br>
            <br>
            透過CULKER的平台媒合，認識在地朋友，讓他們帶你去玩吧！<br>


            <br><br>
            <div id="quote">
                <h3 style="line-height: 2;">Uber 讓我們坐進了陌生人的車，<br>
                Airbnb 讓我們住進了陌生人的房。<br><br>
                <a style="color: #37bc9b;">CULKER TAIWAN</a>將讓我們跟陌生人成為朋友，<br>
                將讓我們走進在地人的生活。<br></h3>
            </div>
            
        </div>
        </div>
        
    </section>
    <!-- End About -->

    <!-- Begin Page6 -->
    <section id="section3" class="content container">
        
        <div class="title grid-full">
            <h2>我們的團隊</h2>
            <h3>The Team</h3>
            <span class="border"></span>
        </div>
        <ul class="team-list clearfix">
            <li class="team-member grid-2">
            <img src="{% static 'images/team/team-05.png' %}" id="teampic">
                <div class="name">
                    <h4>王策緯 Jeffrey</h4>
                    <h6><em>Administrator</em></h6>
                </div>
                <p>我相信，旅行，是學習以另一個文化視野及價值觀，反身地理解自己所在的位置。</p>
                
            </li>
            <li class="team-member grid-2">
            <img src="{% static 'images/team/team-02.png' %}" id="teampic">
                <div class="name">
                    <h4>江長銓 Hafay Nikar</h4>
                    <h6><em>Administrator</em></h6>
                </div>
                <p>旅遊，可以是一件很貼近彼此生活的事，我不想當個團進團出的觀光客，我想要的真正認識彼此，享受著互相的生活。</p>
                <!--<ul class="social-list">
                    <li><a href="http://www.google.com" target="_blank"><i class="social-icon google small"></i></a></li>
                    <li><a href="http://www.linkedin.com" target="_blank"><i class="social-icon linkedin small"></i></a></li>
                </ul>-->
            </li>
            <li class="team-member grid-2">
            <img src="{% static 'images/team/team-01.png' %}" id="teampic">
                <div class="name">
                    <h4>簡妙蓉 Miao</h4>
                    <h6><em>Regional Products Manager</em></h6>
                </div>
                <p>成長與成就不僅是自我的事情，更是涓滴取之於社會。我堅信，唯有反省能帶來謙遜；唯有實踐能帶來改變。</p>
                <!--<ul class="social-list">
                    <li><a href="http://www.facebook.com" target="_blank"><i class="social-icon facebook small"></i></a></li>
                    <li><a href="http://www.behance.net" target="_blank"><i class="social-icon behance small"></i></a></li>
                </ul>-->
            </li>
            <li class="team-member grid-2">
            <img src="{% static 'images/team/team-03.png' %}" id="teampic">
                <div class="name">
                    <h4>張凱涵 Kelly</h4>
                    <h6><em>Technical Development Engineer</em></h6>
                </div>
                <p>工程師。在旅行的過程中，總是想辦法在短暫的過客時光中一窺在地人生活的浮光掠影。</p>
                
            </li>
            <li class="team-member grid-2">
            <img src="{% static 'images/team/team-08.png' %}" id="teampic">
                <div class="name">
                    <h4>盧翊程 Agenda</h4>
                    <h6><em>Project Manager</em></h6>
                </div>
                <p>我們都渴望逃離日常的生活，穿梭於前臺和後臺一場場生命的展演，進而發現所謂的真實。
                </p>
            </li>
            <li class="team-member grid-2">
            <img src="{% static 'images/team/team-09.png' %}" id="teampic">
                <div class="name">
                    <h4>Kate Kao</h4>
                    <h6><em>Project Manager</em></h6>
                </div>
                <p>走不出去，眼前就是你的世界；走出去，世界就在你眼前！旅行、生活、交朋友，是我一直在做的事。
說走就走，世界正在等著你。

                </p>
            </li>
        </ul>

    </section>


{% endblock %}
