{% load static %}

<!-- Begin Footer -->
    <footer id="footer" class="clearfix">
        <div class="content dark container">

            <!-- Contact Links -->
            <ul class="contact animated hatch clearfix">
                <li class="grid-2">
                <img src="{% static 'images/icons/telephone.png' %}" alt="telephone" width="20" height="20">
                    <p>+ (886) 988-720700</p>
                </li>
                <li class="grid-2">
                    <a id="contact" href="mailto:suppoert@culkertw.com?Subject=Hello">
                        <img src="{% static 'images/icons/mail.png' %}" alt="mail" width="20" height="20">
                        <br>
                        support@culkertw.com
                    </a>
                </li>
                <li class="grid-2">
                    <a href="https://www.facebook.com/pages/CULKER-TAIWAN/517011135116875" target="_new">
                        <img src="{% static 'images/icons/location.png' %}" alt="location" width="20" height="20">
                        <br>
                        CULKER TAIWAN
                    </a>
                </li>
            </ul>
        </div>


        <div class="container">

            <!-- Social Links -->
            <ul class="social-links grid-full">
                <li><a href="https://www.facebook.com/pages/CULKER-TAIWAN/517011135116875" target="_blank"><img src="{% static 'images/icons/facebook-large.png' %}" alt="facebook" width="36" height="36"></a></li>
            </ul>

            <!-- Copyright Info -->
            <div class="copyright grid-full"><h6>©COPYRIGHT 2015 KELLY C.</h6></div>

        </div>
</footer>
<!-- End Footer -->

