
{% extends 'base.html' %}
{% block body %}
    <!-- Begin Blog -->
    <section id="blog" class="content padded container">

        <!-- Begin Post -->
        <div class="grid-6">

            <!-- Standard Post -->
            <div class="post image">
                <div class="post-title">
                    <h2>預訂流程</a></h2>

                </div>                          
                    
                <div class="post-body">
                    <h3>什麼是故事體驗？</h3>
                    <p>我們希望透過參加我們的故事體驗，經歷的不只是景點串起來的行程，
                    更是透過在地人帶路的觀點來看這塊土地，體驗道地的經驗。</p>

                    <h3>如何購買故事體驗？</h3>
                    <p>
                        <ol>
                            <li>0. 點選帶路種子頭像，選擇有興趣的故事體驗。</li>
                            <li>1. 按下欲購買故事體驗右方之「立即報名」按鈕</li>
                            <li>2. 填寫報名表完成，並且繳費</li>
                            <li>3. 繳費成功後收到訂單完成通知</li>
                            <li>4. 抱著愉快的心情期待行程的到來！ :)</li>
                        </ol>
                    </p>
                    <br><br>
                    <p>如有任何問題，歡迎來信至 support@culkertw.com，將有專人替您服務！</p>

                </div>
            </div>
                
                <div class="post-title">
                    <h2>退訂條款</a></h2>
                    <!--
                        <div class="post-meta">
                            <h6>Posted by <a href="#">John Doe</a> / <a href="#">Standard</a></h6>                                                      
                        </div>
                    -->
                </div>                          
                    
                <div class="post-body">
                    <h3>什麼是退訂條款？</h3>
                    <p>如果旅客因為某些因素而不能參與行程時，可以選擇將行程轉讓他人。如果旅客也無法或者不想轉讓他人時，可以選擇退費。退費標準依據以下的情況有所不同。</p>

                    <h3>轉讓規則：</h3>
                    <p>於行程開始48小時前內寫信至support@culkertw.com，並在標題註明：行程轉讓，並在信中留下與報名表中所列一樣欄位之資料。</p>

                    <h3>以下狀況可以獲得全額退費：</h3>
                    <ul>
                    <li>旅客的二等親以內去世</li>
                    <li>旅客或房客的三等親以內重病</li>
                    <li>目的地地區發生嚴重自然災害</li>
                    <li>公民義務
                    </ul>
                    <br><h4>不受保障的情況：</h4>
                    <ul>
                    <li>自然災害以外的原因導致航班或其他交通工具取消</li>
                    <li>行李丟失</li>
                    <li>失業</li>
                    <li>非直系親屬死亡</li>
                    <li>其他因可歸責於旅客之事由而取消者。</li>
                    </ul>
                    <br>
                    <h3>如果不是以上狀況，請參照旅客退訂政策如下</h3>
                    <p><h4>靈活：</h4>
                    行程開始的前24小時以上取消可以獲得全額退費。
                    24小時以內不可取消。</p>
                    <p><h4>嚴格：</h4>
                    行程開始前三天以前取消可獲得全額退費。
                    行程開始的前24小時以上取消可獲得八成退費。
                    24小時以內不可取消。</p>

                    <p><h4>帶路人取消預定：</h4>
                    全額退費</p>

                    <h2>隱私權條款</h2>
                    <p>當您開始使用CULKER TAIWAN網站，即代表您同意且信賴我們對您資料的處理方式。</p>

                    <h3>我們蒐集的資料</h3>
                    <p>透過報名表，我們將會蒐集到關於行程必備的個人資料。此舉是為了避免人頭帳戶的註冊、避免導致行程上的運行困難，以及聯絡方便。絕對不會蒐集必要之外的個人資料。</p>

                    <h3>我們將會如何使用</h3>
                    <p>所有客戶資訊將不會外流或者另做其他用途，僅儲存於內部資料庫，以便將來會員系統正式上路時，可以避免每次都要重新填資料的困擾。</p>

                    <h3>資訊安全</h3>
                    <p>所有資訊傳遞皆透過Google提供的服務，本網站不負責任何資料傳輸的過程。
                    <i>以下節錄Google提供的資訊安全保證：<br>
                    我們使用 SSL 為我們的許多服務加密。<br>
                    我們會審查收集、儲存、處理資訊的做法 (包括採取實體安全措施)，保護系統不致發生未經授權的存取。<br>
                    我們僅允許為了代表我們處理個人資訊而需要知悉該等資訊的 Google 員工、承包商和代理人存取資訊。且相關人員均須遵守嚴格的契約保密義務，一旦未遵守義務便將受到懲戒或解約處分。</i></p>

                    <h3>隱私權條款使用範圍</h3>
                    <p>我們的隱私權條款僅適用於所有culkertw.com網域名下的所有網頁。</p><br><br>

                    <p>如有任何問題，歡迎來信至 support@culkertw.com，將有專人替您服務！</p>

                </div>
            </div>
        </div>
        <!-- End Post -->

    </section>
    <!-- End Blog -->   
    {% endblock %}

