{% extends 'base.html' %}
{% load static %}

{% block body %}

    <!-- Begin Hero -->
    <section id="section1" class="parallax-bg1 hero parallax clearfix">

        <!-- Content -->
        <div class="dark content container">

            <!-- Headings -->
            <div class="ticker">
                <h1>CULKER TAIWAN</h1>
                <h1>行腳台灣</h1>
            </div>
            <h2 style="padding-top: 20px;">讓世界都能跟台灣朋友一起旅行台灣。</h2>

            <!-- Buttons -->
            <ul class="call-to-action">
                <li><a class="button" href="{% url 'list' %}" target="_new">立即預定！</a></li>
            </ul>

        </div>

    </section>
    <!-- End Hero -->

    

    <!-- Begin Page2 -->
    <section id="section2" class="parallax-bg2 parallax clearfix">
        <div class="content padded container">

            <div id="quote">
                <h3 style="line-height: 2;">Uber 讓我們坐進了陌生人的車，<br>
                Airbnb 讓我們住進了陌生人的房。<br>
                <br>
                <a style="color: #37bc9b;">CULKER TAIWAN</a>將讓我們跟陌生人成為朋友，<br>
                將讓我們走進在地人的生活。<br></h3>
            </div>

            
        </div>
            
    </section>
    <!-- End Page2 -->


    <!-- Start Page3 -->
    <section id="section3" class="parallax-bg3 parallax clearfix">
        <div class="content padded">
            
            <img src="https://lh3.googleusercontent.com/bFMoZqRyex1me4C5ZIkmw3S7YnO-Lu4SmBIU3d4OEYi6JdYppq4T_yc1i35mlsaibJlxonouBgLv86mPHl_0rSkYuLWTo-ZUwIJ2_WMVss_UAeEsr6WUkZ1J5QODRNIT6kahEF24ZY7X2Iqp2DrdJu8g_AVPAey4jZe2JsV3Caa_8vVhNU3Yfd3JH5gChNGm3SA25Eb-Bl6Cz4jeEnXdZe732PVvt1ZIBrlseAAHoEQMsqRJkt0YsHGIUyTig5Atk3ZiGMIOeKOjr382p9u1BfirYomTEntllQ7RQIjdpRK_9QVt_1JcLuHfS9knmXn1zTxv_f_-XhhMoWT2tCszHbMVCDi5z_PcaJAhINDMq9BZXHBD3s7yHGWNWm1yuHEK-zGCJMWvMJ9CBgMBraGW8UFO08xEeDeABXAbo9l41endh-ggSvdGnmHTMnF0WP2nCtrCdIdEmYjKafKkSNA8_JNAnRfA7qWh_kaoLi3jA295QQ_k4I48z7WrXab4AgS70dBIA5LyViYVs1iwDT2WZqR5WTvv6oV1tjFRO_U2a1I=w1922-h612-no" style="margin-top: 30px; width: 100%; ">         

        </div>
    </section>
    <!-- End Page3 -->


    <!-- Begin Portfolio -->
    <div class="slider-cover">
    <section id="section4" class="portfolio clearfix">

        <!-- Title -->
        <div class="content container">
            <div class="title grid-full">
                <h2>精選行程</h2>
                <span class="border"></span>
            </div>
        </div>

       <!-- Ajax Section -->
        <div class="ajax-section container">
            <div class="loader"></div>
            <div class="project-navigation">
                <ul>
                    <li class="nextProject"><a href="#"></a></li>
                    <li class="prevProject"><a href="#"></a></li>
                </ul>
            </div>
            <div class="closeProject">
                <a href="#"><i class="icon-remove"></i></a>               
            </div>
            <div class="ajax-content clearfix"></div>
        </div>
        <!-- End Ajax Section --> 

        <ul id="portfolio-grid" class="projectlist clearfix">
        {% for seed in feature %}
           <li class="project mix mix_all">
           <a href="/seed/{{ seed.pk }}/">
                    <img src="{{ seed.avatar }}" alt="thumbnail">
                    <div class="projectinfo">
                        <div class="meta">
                            <h4>{{ seed.name }}</h4>
                            <h6>{{ seed.quote }}</h6>
                            {% if seed.place %}
                                <h6><em>{{ seed.place }}</em></h6>
                            {% else %}
                                <h6><em>{{ seed.get_location_display }}</em></h6>
                            {% endif %}
                        </div>
                    </div>
                </a>
            </li> 
        {% endfor %}
        </ul>

    </section>
    </div>
    <!-- End Portfolio -->

    {% endblock %}
