{% extends 'base.html' %}
{% load static %}

{% block body %}

    <!-- Begin Hero -->
    <section id="section1" class="parallax-bg1 hero parallax clearfix">

        <!-- Content -->
        <div class="dark content container">

            <!-- Headings -->
            <div class="ticker">
                <h1>CULKER TAIWAN</h1>
                <h1>行腳台灣</h1>
            </div>
            <h2 style="padding-top: 20px;">讓世界都能跟台灣朋友一起旅行台灣。</h2>

            <!-- Buttons -->
            <ul class="call-to-action">
                <li><a class="button" href="list.html" target="_new">立即預定！</a></li>
            </ul>

        </div>

    </section>
    <!-- End Hero -->

    

    <!-- Begin Page2 -->
    <section id="section2" class="parallax-bg2 parallax clearfix">
        <div class="content padded container">

            <div id="quote">
                <h3 style="line-height: 2;">Uber 讓我們坐進了陌生人的車，<br>
                Airbnb 讓我們住進了陌生人的房。<br>
                <br>
                <a style="color: #37bc9b;">CULKER TAIWAN</a>將讓我們跟陌生人成為朋友，<br>
                將讓我們走進在地人的生活。<br></h3>
            </div>

            
        </div>
            
    </section>
    <!-- End Page2 -->


    <!-- Start Page3 -->
    <section id="section3" class="parallax-bg3 parallax clearfix">
        <div class="content padded">
            
            <img src="https://lh3.googleusercontent.com/LKMBDH4VvB37MuDHheHAN9Ez5S2lx9JVAe6gZo2udpOoCz8tB1e2oP0_WLrbEOSQN1JZC88GS2qehp7LOGID_VNUpninZierGPvQ_4eYrr7sL5IcCQDM0e5ePgb23yULmAPq8ES9XQj5q0IhWgECF3jMNzVtTEgWZNfFBlRajXox6P0sLOU_oCVEN9CnzxCjQKKzjB3_x3ulNA72yOjqhXsPtnWPF4UDqK4zHZvWdViNmfCyEtldZG6n2HRrQ6dqJ11-HzcQm__he-FfpHPTY_UvpOeEtj1Adp1l1eMLbDFUUxJzbCKMB6is5ktihyRhIgB3HBDuSVs_FzACAh8Uqm3csSYdt5ZSjHD5QiEeHMoO4hOELkepDDKAcmjBkwIkySTMHH6EsJ1YdDgRP83h2boCnGy1wuQ6Ia6r_f_lnvkysxNNeNEbtx7TbcczNP-HkAWuuBKJlYgQZRMy3eP_aIUWL7RYspQkS8hTmGzzml5EXXQURPT3rUdlBU6Pft4a_b3BS-rjWASaSNlyJA8U6SNzm4mHHxp2Rd9uZ7DZcg=w1922-h612-no" style="margin-top: 30px; width: 100%; ">         

        </div>
    </section>
    <!-- End Page3 -->


    <!-- Begin Portfolio -->
    <div class="slider-cover">
    <section id="section4" class="portfolio clearfix">

        <!-- Title -->
        <div class="content container">
            <div class="title grid-full">
                <h2>精選行程</h2>
                <span class="border"></span>
            </div>
        </div>

       <!-- Ajax Section -->
        <div class="ajax-section container">
            <div class="loader"></div>
            <div class="project-navigation">
                <ul>
                    <li class="nextProject"><a href="#"></a></li>
                    <li class="prevProject"><a href="#"></a></li>
                </ul>
            </div>
            <div class="closeProject">
                <a href="#"><i class="icon-remove"></i></a>               
            </div>
            <div class="ajax-content clearfix"></div>
        </div>
        <!-- End Ajax Section --> 

        <ul id="portfolio-grid" class="projectlist clearfix">
        {% for seed in feature %}
           <li class="project mix mix_all">
           <a href="/seed/{{ seed.pk }}/">
                    <img src="{{ seed.avatar }}" alt="thumbnail">
                    <div class="projectinfo">
                        <div class="meta">
                            <h4>{{ seed.name }}</h4>
                            <h6>{{ seed.quote }}</h6>
                            <h6><em>{{ seed.get_location_display }}</em></h6>
                        </div>
                    </div>
                </a>
            </li> 
        {% endfor %}
        </ul>

    </section>
    </div>
    <!-- End Portfolio -->

    {% endblock %}
