{% extends 'base.html' %}
{% load static %}

{% block body %}
    <!-- Begin Portfolio -->
    <div class="slider-cover">
    <section id="section3" class="portfolio clearfix">

        <!-- Title -->
        <div class="content container">
            <div class="title grid-full">
                <h2>帶路種子</h2>
                <h3>Local guide seed</h3>
                <span class="border"></span>
            </div>


            <!-- Filters -->
            <ul class="filtering grid-full">
                <li class="filter" data-filter="all">全部</li>
                <li class="filter" data-filter="north">北部</li>
                <li class="filter" data-filter="middle">中部</li>
                <li class="filter" data-filter="south">南部</li>
                <li class="filter" data-filter="east">東部</li>
                <li class="filter" data-filter="other">離島</li>
            </ul>
        </div>

        <!-- Ajax Section -->
        <div class="ajax-section container">
            <div class="loader"></div>
            <div class="project-navigation">
                <ul>
                    <li class="nextProject"><a href="#"></a></li>
                    <li class="prevProject"><a href="#"></a></li>
                </ul>
            </div>
            <div class="closeProject">
                <a href="#"><i class="icon-remove"></i></a>               
            </div>
            <div class="ajax-content clearfix"></div>
        </div>
        <!-- End Ajax Section -->

        <ul id="portfolio-grid" class="projectlist clearfix">
        {% for seed in seeds %}
            <li class="project mix {{ seed.location }}  mix_all">
            <a href="/seed/{{ seed.pk }}/">
                    <img src="{{ seed.avatar }} " alt="thumbnail">
                    <div class="projectinfo">
                        <div class="meta">
                            <h4>{{ seed.name }}</h4>
                            <h6>{{ seed.quote }}</h6>
                            <h6><em>{{ seed.get_location_display }}</em></h6>
                        </div>
                    </div>
                </a>
            </li>    
        {% endfor %}
        </ul>

    </section>
    </div>
    <!-- End Portfolio -->
    {% endblock %}
