{% extends 'base.html' %}

{% load static %}

{% block extra_script %}
<link href="{% static 'stylesheets/js-image-slider.css' %}" rel="stylesheet" type="text/css" />
<script src="{% static 'javascript/js-image-slider.js' %}" type="text/javascript"></script>
{% endblock %}

{% block body %}
    <!-- AJAX Content -->
    <div id="ajaxpage" class="container">

        <div class="project-hero grid-full">
            <div class="bx-wrapper" style="max-width: 100%;">
                <div class="bx-viewport" id="sliderFrame" style="width: 100%; overflow: hidden; position: relative; height: 580px;margin-top:40px">
                    <!-- Slider -->
                    <div id="slider">
                        <img src="{{ seed.banner1 }}" alt="">
                        <img src="{{ seed.banner2 }}" alt="">
                        <img src="{{ seed.banner3 }}" alt="">
                    </div>
                </div>
            </div>

            <!-- Pager -->
            <div class="slider-pager"></div>
            <div class="small-border"></div>

            <!-- Prev/Next -->
            <div class="project-gallery-next"></div>
            <div class="project-gallery-prev"></div>

        </div>

        <div class="project-title grid-full">
            <h4 style="margin-top: 30px;">{{ seed.name }}</h4>
            {% if seed.place %}
                <h6><em>{{ seed.place }}</em></h6>
            {% else %}
                <h6><em>{{ seed.get_location_display }}</em></h6>
            {% endif %}
            <p>{{ seed.intro }}</p>
            {% if seed.intro2 %}
            <p>{{ seed.intro2 }}</p>
            {% endif %}
        </div>



        <div class="project-info clearfix">
            {% for trip in his_trips %}
            <div class="grid-2">
                <a href="/story/{{ trip.pk }}/"><img src="{{ trip.cover_photo }}"></a>
                <h4 style="margin-top: 30px;">{{ trip.name }}</h4>
                <h6>價格：NTD ${{ trip.fee }}</h6>
                <h6>總共歷時 {{ trip.duration }}</h6>
                <h6>語言：{{ trip.language }}</h6>
                <p>{{ trip.short_descp }}</p>
                <a href="/story/{{ trip.pk }}/">詳細資訊 →</a>
            </div>
            {% endfor %}
        </div>

    </div>
    <!-- End AJAX Content -->

    {% endblock %}
